<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrdersMapper">


    <!--    分页查询-->
    <select id="pageQuery" resultType="com.sky.vo.OrderVO">
        select * from orders
        <where>
            <if test="status !=null and status !=''">
                and status=#{status}
            </if>
            <if test="number !=null and number !=''">
                and number=#{number}
            </if>
            <if test="phone !=null and phone !=''">
                and phone=#{phone}
            </if>
            <if test="userId !=null and userId !=''">
                and user_id=#{userId}
            </if>
            <if test="beginTime!=null">
                and order_time &gt; #{beginTime}
            </if>
            <if test="endTime!=null">
                and order_time &lt; #{endTime}
            </if>

        </where>
        order by order_time desc
    </select>

    <select id="pageQuery2" resultType="Orders">
        select * from orders
        <where>
            <if test="number != null and number!=''">
                and number like concat('%',#{number},'%')
            </if>
            <if test="phone != null and phone!=''">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="beginTime != null">
                and order_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and order_time &lt;= #{endTime}
            </if>
        </where>
        order by order_time desc
    </select>

    <!--    取消订单-->
    <update id="cancelOrder">
        update orders set status=6,cancel_time=NOW()
        <if test="cancelReason!=null and cancelReason!=''">,cancel_reason=#{cancelReason}</if>
        where id=#{id}
    </update>

<!--    拒单-->
    <update id="rejectOrder">
        update orders set status=6,cancel_time=NOW()
        <if test="rejectionReason!=null and rejectionReason!=''">,rejection_reason =#{rejectionReason}</if>
        where id=#{id}
    </update>

<!--    订单统计-->

<!--    封装日期和每日订单-->
    <select id="orderStatistics1" resultType="com.sky.vo.OrderReportVO">
        select date (order_time)dateList ,count(*)orderCountList from orders
        where order_time between #{begin} and #{end}
        GROUP BY DATE(order_time)
        ORDER BY dateList ;
    </select>

    <!--    封装日期和每日有效订单 -->
    <select id="orderStatistics2" resultType="com.sky.vo.OrderReportVO">
        select date (order_time)dateList ,count(*)validOrderCountList from orders
        where order_time between #{begin} and #{end} and status not in(6,7)
        GROUP BY DATE(order_time)
        ORDER BY dateList ;
    </select>

<!--    封装订单总数-->
    <select id="orderStatistics3" resultType="Integer">
        select count(*) from orders
        where order_time between #{begin} and #{end};
    </select>

<!--    有效订单总数-->
    <select id="orderStatistics4" resultType="java.lang.Integer">
        select count(*) from orders
        where order_time between #{begin} and #{end} and status not in(6,7);
    </select>

<!--    营业额统计-->
    <select id="getAmountBetweenTime" resultType="com.sky.vo.TurnoverReportVO">
        select date (order_time)dateList ,sum(amount)turnoverList from orders
        where order_time between #{begin} and #{end} and status not in(6,7)
        GROUP BY DATE(order_time)
        ORDER BY dateList ;
    </select>

<!--    找出时间范围内的订单id并且订单状态是已完成-->
    <select id="getIdBetweenTime" resultType="java.lang.Long">
        select id from orders where status=5 and order_time between #{begin} and #{end}
    </select>

<!--    计算给定时间天的营业额-->
    <select id="getAmountToday" resultType="java.lang.Double">
        select sum(amount)turnover from orders where date (order_time)=#{localDate}
    </select>

<!--    当天的有效订单-->
    <select id="getValidOrderToday" resultType="java.lang.Integer">
        select count(*)validOrderCount from orders where date (order_time)=#{localDate} and status not in(6,7)
    </select>

<!--    当天的总订单数-->
    <select id="getNumOfOrdersToday" resultType="java.lang.Double">
        select count(*)totalOrderCount from orders where date (order_time)=#{localDate}
    </select>

<!--    当天完成订单数-->
    <select id="getNumOfCompletedOrderToday" resultType="java.lang.Double">
        select count(*)totalOrderCount from orders where date (order_time)=#{localDate} and status=5
    </select>

<!--    给定状态的订单数量统计-->
    <select id="getNumOfStatus" resultType="java.lang.Integer">
        select count(*)from orders
        <where>
            <if test="status!=null">status=#{status}</if>
        </where>
    </select>


</mapper>
