<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">

<!--新增的if标签没起到作用、反而适得其反-->
    <select id="top10" resultType="com.sky.vo.SalesTop10ReportVO">
        SELECT name AS nameList, COUNT(*) AS numberList
        FROM order_detail
        <if test="orderId!=null and orderId.size()!=0">
            WHERE order_id IN
            <foreach item="item" collection="orderId" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY name
        ORDER BY numberList DESC
        LIMIT 10
    </select>
</mapper>
